/*body {

  background: url(../img/sunshine.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;


}*/

body {
  background-color: gray;
}

.container {
  width: 80%;
  background-color: white;
}

.header {
  height: 80px;

}

h1.display-1 {
  background-color: pink;
  font-size: 65px;
}

img {
  width: 30%;
  height: 30%;
}
