/*body {

  background: url(../img/sunshine.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100px;


}*/

.container-full {

}

.header {
  background-color: pink;
}
