
body {
  background: url(../img/sunshine.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1300px;
  overflow: scroll;
}

.container {
  color: #191919;
  opacity: 1;
  width: 80%;
  font-size: 19px;
  text-shadow: 0.5px 0.5px #847b7b;
}

.header {
  height: 70px;

}

span {
  color: #e06b6b;
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  color: black;
  font-size: 75px;
}

h2 {
  color: #353228;
}

h3 {
  color: #3f0c00;
}

.my-photo {
  width: 30%;
  float: left;
  padding-left: 20px;
}

.summary {
  color: #302f2d;
  width: 70%;
  float: left;
  padding: 20px 0px 0px 25px;
  font-size: 29px;
}

.my-background {
  clear: left;
  padding: 30px 0px;
}

.my-projects {
  margin-bottom: 80px;
}

.row {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.col-xs-4 h3, .col-xs-4 p {
  text-align: center;
}
